<div class="rside">
	<div class="container-fluid">
		<h3 class="mar-top-10">Статусы замерщиков</h3>
	</div>
	<hr class="line mar-top-20">
	<div class="container-fluid back-white">
		<h5 class="mar-20">На работе <span class="badge">4</span></h5>
	</div>
	<hr class="line">
	<div class="workers" id="working">
		<div class="worker">
			<div class="worker-wrapper clearfix">
				<div class="worker-contact pull-right text-right">
					<div class="btn-group">
						<button class="btn btn-link btn-sm btn-muted" title="Отправить сообщение"><span class="fa fa-lg fa-envelope"></span></button>
						<button class="btn btn-link btn-sm btn-muted" title="Позвонить"><span class="fa fa-lg fa-phone"></span></button>
					</div>
				</div>
				<div class="worker-indicator indicator-1 fa fa-map-marker fa-2x pull-left" data-coord="[55.0487015,82.8832095]" data-header="Алексей Дёмин" data-color="#9E6191"></div>
				<div class="worker-info pull-left">
					<h4 class="mar-0">Алексей Дёмин</h4><small class="text-muted">Конверсия в сделку 38%</small>
				</div>
			</div>
			<div class="worker-plan">
				<hr class="line">
				<ul class="list-unstyled mar-0 clearfix">
					<li class="plan-done">
						<div class="plan-time" data-toggle="popover" data-title="Завершён" data-content="Немировича-Данченко 187, кв. 97 (окно + балкон)">11:00</div>
					</li>
					<li class="plan-done">
						<div class="plan-time" data-toggle="popover" data-title="Завершён" data-content="Гоголя 12, кв. 5 (окно)">13:20</div>
					</li>
					<li class="plan-current">
						<div class="plan-time" data-toggle="popover" data-title="На замере" data-content="Дуси Ковальчук 17, кв. 7 (3 окна)">15:40</div>
					</li>
					<li class="plan-miss" title="Опаздывает">
						<div class="plan-time" data-toggle="popover" data-title="Опаздывает" data-content="Красный проспект 251, кв. 80 (балкон)">17:00</div>
					</li>
					<li>
						<div class="plan-time" data-toggle="popover" data-content="Дачная 25, кв. 12 (2 окна + балкон)">18:50</div>
					</li>
					<li>
						<div class="plan-time" data-toggle="popover" data-content="Кропоткина 118, кв. 45 (окно)">20:00</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="worker">
			<div class="worker-wrapper clearfix">
				<div class="worker-contact pull-right text-right">
					<div class="btn-group">
						<button class="btn btn-link btn-sm btn-muted" title="Отправить сообщение"><span class="fa fa-lg fa-envelope"></span></button>
						<button class="btn btn-link btn-sm btn-muted" title="Позвонить"><span class="fa fa-lg fa-phone"></span></button>
					</div>
				</div>
				<div class="worker-indicator indicator-2 fa fa-map-marker fa-2x pull-left" data-coord="[55.0299039,82.9261268]" data-header="Валентин Шпагин" data-color="#9E6161"></div>
				<div class="worker-info pull-left">
					<h4 class="mar-0">Валентин Шпагин</h4><small class="text-muted">Конверсия в сделку 31%</small>
				</div>
			</div>
			<div class="worker-plan">
				<hr class="line">
				<ul class="list-unstyled mar-0 clearfix">
					<li class="plan-done">
						<div class="plan-time" data-toggle="popover" data-title="Завершён" data-content="Немировича-Данченко 187, кв. 97 (окно + балкон)">10:20</div>
					</li>
					<li class="plan-done">
						<div class="plan-time" data-toggle="popover" data-title="Завершён" data-content="Гоголя 12, кв. 5 (окно)">13:00</div>
					</li>
					<li class="plan-current">
						<div class="plan-time" data-toggle="popover" data-title="На замере" data-content="Дуси Ковальчук 17, кв. 7 (3 окна)">15:20</div>
					</li>
					<li class="plan-miss" title="Опаздывает">
						<div class="plan-time" data-toggle="popover" data-title="Опаздывает" data-content="Красный проспект 251, кв. 80 (балкон)">16:50</div>
					</li>
					<li>
						<div class="plan-time" data-toggle="popover" data-content="Дачная 25, кв. 12 (2 окна + балкон)">18:30</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="worker">
			<div class="worker-wrapper clearfix">
				<div class="worker-contact pull-right text-right">
					<div class="btn-group">
						<button class="btn btn-link btn-sm btn-muted" title="Отправить сообщение"><span class="fa fa-lg fa-envelope"></span></button>
						<button class="btn btn-link btn-sm btn-muted" title="Позвонить"><span class="fa fa-lg fa-phone"></span></button>
					</div>
				</div>
				<div class="worker-indicator indicator-3 fa fa-map-marker fa-2x pull-left" data-coord="[55.0471622,82.9444533]" data-header="Николай Пирогов" data-color="#959E61"></div>
				<div class="worker-info pull-left">
					<h4 class="mar-0">Николай Пирогов</h4><small class="text-muted">Конверсия в сделку 22%</small>
				</div>
			</div>
			<div class="worker-plan">
				<hr class="line">
				<ul class="list-unstyled mar-0 clearfix">
					<li class="plan-done">
						<div class="plan-time" data-toggle="popover" data-title="Завершён" data-content="Немировича-Данченко 187, кв. 97 (окно + балкон)">9:30</div>
					</li>
					<li class="plan-done">
						<div class="plan-time" data-toggle="popover" data-title="Завершён" data-content="Гоголя 12, кв. 5 (окно)">11:00</div>
					</li>
					<li class="plan-done">
						<div class="plan-time" data-toggle="popover" data-title="Завершён" data-content="Дуси Ковальчук 17, кв. 7 (3 окна)">12:20</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="worker">
			<div class="worker-wrapper clearfix">
				<div class="worker-contact pull-right text-right">
					<div class="btn-group">
						<button class="btn btn-link btn-sm btn-muted" title="Отправить сообщение"><span class="fa fa-lg fa-envelope"></span></button>
						<button class="btn btn-link btn-sm btn-muted" title="Позвонить"><span class="fa fa-lg fa-phone"></span></button>
					</div>
				</div>
				<div class="worker-indicator indicator-4 fa fa-map-marker fa-2x pull-left" data-coord="[54.98824,82.8787164]" data-header="Валера Доходяжка" data-color="#619E63"></div>
				<div class="worker-info pull-left">
					<h4 class="mar-0">Валера Доходяжка</h4><small class="text-muted">Конверсия в сделку 11%</small>
				</div>
			</div>
			<div class="worker-plan">
				<hr class="line">
				<ul class="list-unstyled mar-0 clearfix">
					<li class="plan-current">
						<div class="plan-time" data-toggle="popover" data-title="На замере" data-content="Немировича-Данченко 187, кв. 97 (окно + балкон)">12:30</div>
					</li>
					<li class="plan-miss">
						<div class="plan-time" data-toggle="popover" data-title="Не успевает" data-content="Гоголя 12, кв. 5 (окно)">14:00</div>
					</li>
					<li class="plan-miss">
						<div class="plan-time" data-toggle="popover" data-title="Не успевает" data-content="Дуси Ковальчук 17, кв. 7 (3 окна)">16:20</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid back-white">
		<h5 class="mar-20">На больничном <span class="badge">0</span></h5>
	</div>
	<hr class="line">
	<div class="container-fluid back-white">
		<h5 class="mar-20">В отпуске <span class="badge">1</span></h5>
	</div>
	<hr class="line">
	<div class="workers">
		<div class="worker">
			<div class="worker-wrapper clearfix">
				<div class="worker-contact pull-right text-right">
					<div class="btn-group">
						<button class="btn btn-link btn-sm btn-muted" title="Отправить сообщение"><span class="fa fa-lg fa-envelope"></span></button>
						<button class="btn btn-link btn-sm btn-muted" title="Позвонить"><span class="fa fa-lg fa-phone"></span></button>
					</div>
				</div>
				<div class="worker-indicator indicator-0 fa fa-map-marker fa-2x pull-left"></div>
				<div class="worker-info pull-left">
					<h4 class="mar-0">Василий Когтев</h4><small class="text-muted">Конверсия в сделку 25%</small>
				</div>
			</div>
		</div>
	</div>
	<hr class="line">
	<div class="rside-block">
		<div class="text-muted">Замерщики отсортированы по их конверсии </div>
	</div>
</div>