<div id="nav">
  <div class="nav-brand">
    <img src="/img/logo_mono.svg">
    <div class="descriptor">Система мониторинга замерщиков</div>
  </div>
  <nav class="nav-group">
    <a class="nav-group-item" routerLink="/dashboard" routerLinkActive="active">
      <span class="fa fa-lg fa-dashboard"></span>
      Рабочий стол
    </a>
    <a class="nav-group-item" routerLink="/orders" routerLinkActive="active">
      <span class="fa fa-lg fa-handshake-o"></span>
      Заказы
    </a>
    <a class="nav-group-item" routerLink="/customers" routerLinkActive="active">
      <span class="fa fa-lg fa-money"></span>
      Клиенты
    </a>
    <a class="nav-group-item" routerLink="/managers" routerLinkActive="active">
      <span class="fa fa-lg fa-headphones"></span>
      Операторы
    </a>    
    <a class="nav-group-item" routerLink="/employees" routerLinkActive="active">
      <span class="fa fa-lg fa-group"></span>
      Замерщики
    </a>
    <a class="nav-group-item" routerLink="/reports" routerLinkActive="active">
      <span class="fa fa-lg fa-bar-chart"></span>
      Отчёты
    </a>
    <a class="nav-group-item" routerLink="/settings" routerLinkActive="active">
      <span class="fa fa-lg fa-cog"></span>
      Настройки
    </a>
  </nav>
	<div class="nav-user clearfix">
		<div class="user-img pull-left">
      <img src="/img/user.jpg">
    </div>
		<div class="user-info">
			<h5>Владимир</h5>
      <small class="text-muted">Администратор</small>
			<div class="mar-top-5">
        <a href="index.html">Выход</a>
      </div>
		</div>
	</div>
</div>