/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font: 14px 'Roboto',Arial,sans-serif;
}

.display {
  font-size: 60px;
}

strong {
  font-weight: 500;
}

.list-lined li {
  padding: 5px 0;
}

.list-lined li + li {
  border-top: 1px solid #dfd7ca;
}

.line {
  border-color: #dfd7ca;
  margin: 0;
}

.shadow {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.back-white {
  background-color: #fff;
}

button,
.btn,
.btn:focus,
.btn:focus:active {
  outline: none;
}

.btn-link.btn-muted {
  color: #dad6cf;
}

.btn-link.btn-muted:hover {
  color: #cac4b9;
}

.mar-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mar-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mar-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mar-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mar-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mar-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mar-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mar-top-3 {
  margin-top: 3px;
}

.mar-top-10 {
  margin-top: 10px;
}

.mar-top-15 {
  margin-top: 15px;
}

.mar-top-20 {
  margin-top: 20px;
}

.mar-top-30 {
  margin-top: 30px;
}

.mar-top-40 {
  margin-top: 40px;
}

.mar-top-60 {
  margin-top: 60px;
}

.mar-top-70 {
  margin-top: 70px;
}

.mar-top-80 {
  margin-top: 80px;
}

.mar-top-100 {
  margin-top: 100px;
}

.mar-top-110 {
  margin-top: 110px;
}

.mar-top-120 {
  margin-top: 120px;
}

.mar-left-30 {
  margin-left: 30px;
}

.img-svg {
  display: none;
}

.svg .img-png {
  display: none;
}

.svg .img-svg {
  display: block;
}

#nav {
  width: 180px;
  background-color: #25292f;
  height: 100%;
  min-height: 100%;
  position: fixed;
}

#nav .nav-brand {
  width: 100%;
  text-align: center;
  padding: 25px;
}

#nav .nav-brand img {
  max-height: 50px;
  margin: 0 auto;
}

#nav .descriptor {
  margin-top: 10px;
  font-size: 11px;
  color: #ccc;
}

#nav .nav-group-item {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #adadad;
}

#nav .nav-group-item:hover,
#nav .nav-group-item.active {
  background-color: rgba(255,255,255,0.1);
  color: #fff;
}

#nav .nav-group-item .fa {
  width: 20px;
  text-align: center;
  margin-right: 20px;
}

.nav-user {
  background: rgba(255,255,255,0.1);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 15px;
  color: #fff;
}

.nav-user h5 {
  margin: 2px 0 0;
}

.nav-user .user-img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 20px;
  overflow: hidden;
}

.nav-user .user-img img {
  width: 100%;
}

#content {
  position: absolute;
  background: #f8f5f0;
  min-height: 100%;
  min-width: 750px;
  left: 180px;
  right: 0;
}

.lside {
  min-height: 100%;
  overflow: hidden;
  border-right: 1px solid #dfd7ca;
  padding: 15px 0;
}

.rside {
  float: right;
  width: 421px;
  border-left: 1px solid #dfd7ca;
  margin-left: -1px;
  padding: 15px 0 0;
}

.rside-block {
  padding: 30px 15px;
}

.results-panel {
  background: #fff;
  border: 1px solid #dfd7ca;
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 30px;
}

#map {
  width: 100%;
  height: 520px;
}

#map > ymaps {
  border-radius: 4px;
  overflow: hidden;
}

.worker-wrapper {
  padding: 20px 15px;
}

#working .worker-indicator {
  cursor: pointer;
}

.worker-indicator.fa.pull-left {
  margin: 0;
}

.worker-info {
  margin-left: 15px;
}

.worker-contact .btn-link {
  margin-top: 3px;
}

#working .worker-indicator {
  opacity: .9;
}

#working .worker-indicator:hover {
  opacity: 1;
}

.indicator-0 {
  color: #ccc;
}

.indicator-1 {
  color: #9e6191;
}

.indicator-2 {
  color: #9e6161;
}

.indicator-3 {
  color: #959e61;
}

.indicator-4 {
  color: #619e63;
}

.indicator-5 {
  color: #619e96;
}

.worker-plan {
  border-bottom: 1px solid #dfd7ca;
  position: relative;
}

.worker-plan .line {
  margin-bottom: -1px;
}

.worker-plan li {
  text-align: center;
  min-width: 71px;
  float: left;
  border: 1px solid #dfd7ca;
  margin: 0 0 -1px -1px;
}

.worker-plan li:hover .plan-time {
  background: #fff;
}

.worker-plan .plan-time {
  padding: 5px;
}

.plan-done .plan-time {
  background-color: transparent;
  color: #d5d5d5;
}

.plan-current .plan-time {
  background-color: #e2e2df;
}

.plan-miss .plan-time {
  color: #f00;
}

fieldset {
  padding: 10px 15px 0;
  margin: 0;
  border: 1px solid #dfd7ca;
  border-radius: 4px;
}

legend {
  width: auto;
  padding: 0 10px;
  margin-bottom: 0;
}

fieldset + fieldset,
fieldset + .form-group {
  margin-top: 15px;
}

.modal-content {
  background: #f8f5f0;
}

.modal-header {
  border-bottom: 1px solid #dfd7ca;
}

.modal-footer {
  border-top: 1px solid #dfd7ca;
}

#signin {
  background-image: url("../img/blur.png");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  padding-top: 100px;
}

#signin form {
  padding: 40px;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.3);
}

@media (max-width:1440px) {
  #results h3 > small {
    display: block;
    margin-top: 8px;
  }

  #map {
    height: 360px;
  }
}